.gc-adaptive-tabs {
  --gc-tabs-color-divider: var(--g-color-line-generic);
  --gc-tabs-color-border-active: var(--g-color-line-brand);
  --gc-tabs-color-text-active: var(--g-color-text-primary);
  --gc-tabs-color-text-inactive: var(--g-color-text-complementary);
  --gc-tabs-color-text-disabled: var(--g-color-text-secondary);
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 var(--gc-tabs-color-divider);
}
.gc-adaptive-tabs_size_m {
  --gc-tabs-height: 36px;
  --gc-tabs-space-between: 24px;
  --gc-tabs-border-width: 2px;
}
.gc-adaptive-tabs_size_m .gc-adaptive-tabs__item-title,
.gc-adaptive-tabs_size_m .gc-adaptive-tabs__item-counter {
  font-family: var(--g-text-body-font-family);
  font-weight: var(--g-text-body-font-weight);
  font-size: var(--g-text-body-1-font-size);
  line-height: var(--g-text-body-1-line-height);
}
.gc-adaptive-tabs_size_l {
  --gc-tabs-height: 40px;
  --gc-tabs-space-between: 28px;
  --gc-tabs-border-width: 2px;
}
.gc-adaptive-tabs_size_l .gc-adaptive-tabs__item-title,
.gc-adaptive-tabs_size_l .gc-adaptive-tabs__item-counter {
  font-family: var(--g-text-body-font-family);
  font-weight: var(--g-text-body-font-weight);
  font-size: var(--g-text-body-2-font-size);
  line-height: var(--g-text-body-2-line-height);
}
.gc-adaptive-tabs_size_xl {
  --gc-tabs-height: 44px;
  --gc-tabs-space-between: 32px;
  --gc-tabs-border-width: 3px;
}
.gc-adaptive-tabs_size_xl .gc-adaptive-tabs__item-title,
.gc-adaptive-tabs_size_xl .gc-adaptive-tabs__item-counter {
  font-family: var(--g-text-subheader-font-family);
  font-weight: var(--g-text-subheader-font-weight);
  font-size: var(--g-text-subheader-3-font-size);
  line-height: var(--g-text-subheader-3-line-height);
}
.gc-adaptive-tabs:has(.gc-adaptive-tabs__tabs-as-select-control) {
  box-shadow: none;
}
.gc-adaptive-tabs_visible {
  opacity: initial;
}
.gc-adaptive-tabs__tabs-list {
  max-height: calc(var(--gc-tabs-height) + var(--gc-tabs-border-width) * 2);
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}
.gc-adaptive-tabs__select-switcher {
  position: absolute;
  inset-block-start: 0;
  will-change: left;
}
.gc-adaptive-tabs__select-switcher .gc-adaptive-tabs__tab-container .gc-adaptive-tabs__tab {
  margin-inline-end: 0;
}
.gc-adaptive-tabs__switcher-tab-content {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}
.gc-adaptive-tabs__switcher-tab-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.gc-adaptive-tabs__switcher-tab-icon {
  display: flex;
}
.gc-adaptive-tabs__tab-container {
  overflow: hidden;
  padding-inline-end: var(--gc-tabs-space-between);
}
.gc-adaptive-tabs__tab-container:not(.gc-adaptive-tabs__tab-container_switcher-tab):only-child .gc-adaptive-tabs__tab {
  cursor: auto;
}
.gc-adaptive-tabs__tab-container_last-tab {
  padding-inline-end: 0;
}
.gc-adaptive-tabs__tab-container_switcher-tab {
  padding-inline-end: 0;
  max-width: 100%;
}
.gc-adaptive-tabs__tab-container_switcher-tab .gc-adaptive-tabs__tab {
  width: auto;
  display: inline-flex;
  max-width: 100%;
}
.gc-adaptive-tabs__tab-container_no-overflow .gc-adaptive-tabs__tab {
  overflow: initial;
}
.gc-adaptive-tabs__tab {
  border-block-end: var(--gc-tabs-border-width) solid transparent;
  padding: var(--gc-tabs-border-width) 1px 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: var(--gc-tabs-height);
  color: var(--gc-tabs-color-text-inactive);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  user-select: none;
  outline: none;
  white-space: nowrap;
}
.gc-adaptive-tabs__tab_disabled {
  pointer-events: none;
  cursor: auto;
  color: var(--gc-tabs-color-text-disabled);
}
.gc-adaptive-tabs__tab_active {
  border-color: var(--gc-tabs-color-border-active);
  color: var(--gc-tabs-color-text-active);
}
.gc-adaptive-tabs__chevron-icon {
  margin-inline-start: 10px;
}
.gc-adaptive-tabs__tabs-as-select-control .gc-adaptive-tabs__tab {
  border: none;
}