.gc-changelog-dialog {
  --gc-changelog-dialog-width: 732px;
  --gc-changelog-dialog-meta-width: 80px;
  width: var(--gc-changelog-dialog-width);
}
.gc-changelog-dialog__full-list-link-icon {
  margin-inline-start: var(--g-spacing-1);
  vertical-align: middle;
}
.gc-changelog-dialog__items-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-block-end: var(--g-spacing-5);
  padding-inline-end: var(--g-spacing-5);
}
.gc-changelog-dialog__items-container .gc-changelog-dialog__item:last-child {
  margin-block-end: 0;
}
.gc-changelog-dialog__item {
  margin-block-end: var(--g-spacing-8);
}
.gc-changelog-dialog__empty-placeholder {
  color: var(--g-color-text-secondary);
  text-align: center;
}
.gc-changelog-dialog__loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
}