.gc-foldable-list {
  font-family: var(--g-text-body-font-family);
  font-weight: var(--g-text-body-font-weight);
  font-size: var(--g-text-body-2-font-size);
  line-height: var(--g-text-body-2-line-height);
}
.gc-foldable-list__item {
  padding: var(--g-spacing-4) 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--g-spacing-5) * 0.5);
}
.gc-foldable-list__item-title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.gc-foldable-list__item-button {
  padding: 0;
  font-family: var(--g-text-body-font-family);
  font-size: inherit;
  font-weight: var(--g-text-body-font-weight);
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  flex-grow: 1;
  padding: 4px 0;
  border-radius: var(--g-border-radius-s);
}
.gc-foldable-list__item-button:focus-visible {
  outline: 2px solid var(--g-color-line-focus);
  outline-offset: 4px;
}
.gc-foldable-list__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gc-foldable-list__item-checkbox {
  margin-inline-end: var(--g-spacing-3);
}
.gc-foldable-list__title-label {
  margin-inline-start: var(--g-spacing-2);
}
.gc-foldable-list__content-text {
  line-height: calc(var(--g-spacing-3) * 2);
}
.gc-foldable-list__content-link {
  display: flex;
  align-items: center;
  margin-block-start: calc(var(--g-spacing-5) * 0.5);
}
.gc-foldable-list__item_mobile .gc-foldable-list__item-button {
  height: auto;
}
.gc-foldable-list__item_mobile .gc-foldable-list__title {
  display: flex;
  align-items: center;
}
.gc-foldable-list__item_mobile .gc-foldable-list__title-label {
  align-self: flex-start;
  margin-inline-start: 0;
  margin-block-end: calc(var(--g-spacing-5) * 0.5);
}
.gc-foldable-list__item_mobile .gc-foldable-list__item-checkbox {
  margin-inline-end: var(--g-spacing-2);
}
.gc-foldable-list__item_mobile .gc-foldable-list__item-title-wrapper {
  align-items: center;
}
.gc-foldable-list__item_mobile.gc-foldable-list__item {
  margin-block: var(--g-spacing-5);
  padding: 0;
}