.gc-changelog-dialog-item {
  display: flex;
}
.gc-changelog-dialog-item__meta {
  width: var(--gc-changelog-dialog-meta-width);
}
.gc-changelog-dialog-item__date {
  line-height: var(--g-text-subheader-3-line-height);
  color: var(--g-color-text-secondary);
}
.gc-changelog-dialog-item__label-new {
  margin-block-start: var(--g-spacing-2);
}
.gc-changelog-dialog-item__content {
  flex: 1;
  margin-inline-start: var(--g-spacing-5);
}
.gc-changelog-dialog-item__title {
  margin: 0;
  font-family: var(--g-text-subheader-font-family);
  font-weight: var(--g-text-subheader-font-weight);
  font-size: var(--g-text-subheader-2-font-size);
  line-height: var(--g-text-subheader-2-line-height);
}
.gc-changelog-dialog-item__image {
  margin-block-start: var(--g-spacing-3);
  border-radius: 16px;
  overflow: hidden;
}
.gc-changelog-dialog-item__description {
  margin-block-start: var(--g-spacing-3);
}
.gc-changelog-dialog-item__button {
  margin-block-start: var(--g-spacing-4);
}
.gc-changelog-dialog-item__button + .gc-changelog-dialog-item__button {
  margin-inline-start: var(--g-spacing-4);
}