.gc-reactions__popup {
  padding: 8px;
}
.gc-reactions__add-reaction-popover {
  max-width: unset;
  padding: 16px;
}
.gc-reactions__reaction-button-content_size_xs {
  font-size: 12px;
}
.gc-reactions__reaction-button-content_size_xs.gc-reactions__reaction-button-content_text {
  font-size: var(--g-text-caption-1-font-size);
}
.gc-reactions__reaction-button-content_size_s {
  font-size: 16px;
}
.gc-reactions__reaction-button-content_size_s.gc-reactions__reaction-button-content_text {
  font-size: var(--g-text-caption-2-font-size);
}
.gc-reactions__reaction-button-content_size_m {
  font-size: 16px;
}
.gc-reactions__reaction-button-content_size_m.gc-reactions__reaction-button-content_text {
  font-size: var(--g-text-body-1-font-size);
}
.gc-reactions__reaction-button-content_size_l {
  font-size: 16px;
}
.gc-reactions__reaction-button-content_size_l.gc-reactions__reaction-button-content_text {
  font-size: var(--g-text-subheader-1-font-size);
}
.gc-reactions__reaction-button-content_size_xl {
  font-size: 20px;
}
.gc-reactions__reaction-button-content_size_xl.gc-reactions__reaction-button-content_text {
  font-size: var(--g-text-subheader-2-font-size);
}