.gc-share-list-item {
  display: flex;
  align-items: center;
}
.gc-share-list-item__icon_type_telegram {
  color: #51a4db;
}
.gc-share-list-item__icon_type_facebook {
  color: #4968ad;
}
.gc-share-list-item__icon_type_twitter {
  color: #4aa0eb;
}
.gc-share-list-item__icon_type_vk {
  color: #436eab;
}
.gc-share-list-item__link-container {
  display: flex;
}
.gc-share-list-item__link-icon {
  display: flex;
  align-items: center;
}
.gc-share-list-item__link-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-inline-start: 10px;
}