.gc-share-popover {
  position: relative;
}
.gc-share-popover .gc-share-popover__tooltip {
  max-width: none;
  padding: 8px;
}
.gc-share-popover__container {
  padding: 0;
  font-family: var(--g-text-body-font-family);
  font-size: inherit;
  font-weight: var(--g-text-body-font-weight);
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  color: var(--g-color-text-secondary);
  border-radius: var(--g-focus-border-radius);
}
.gc-share-popover__container:focus {
  outline: 2px solid var(--g-color-line-focus);
}
.gc-share-popover__container:focus:not(:focus-visible) {
  outline: 0;
}
.gc-share-popover__container:hover {
  color: var(--g-color-text-primary);
}
.gc-share-popover__icon-container {
  display: flex;
  align-items: center;
}
.gc-share-popover__title {
  padding-inline-start: 10px;
  display: flex;
  align-items: center;
}