.gc-share-list {
  display: flex;
  align-items: center;
}
.gc-share-list_layout_row {
  flex-direction: row;
}
.gc-share-list_layout_row .gc-share-list__separator {
  align-self: stretch;
  margin: 8px -2px;
}
@media (min-width: 639px) {
  .gc-share-list_layout_row .gc-share-list__separator {
    width: 1px;
    margin: -2px 8px;
  }
}
.gc-share-list_layout_row .gc-share-list__option {
  flex-direction: row;
}
.gc-share-list_layout_row .gc-share-list__link + .gc-share-list__link {
  margin-inline-start: 4px;
}
.gc-share-list_layout_column {
  flex-direction: column;
}
.gc-share-list_layout_column .gc-share-list__separator {
  justify-self: stretch;
  height: 1px;
  width: 100%;
  margin: 8px -2px;
}
.gc-share-list_layout_column .gc-share-list__option {
  flex-direction: column;
  width: 100%;
}
.gc-share-list_layout_column .gc-share-list__link {
  justify-content: flex-start;
}
.gc-share-list__option {
  display: flex;
  align-items: flex-start;
}
.gc-share-list__separator {
  background: var(--g-color-line-generic);
}
.gc-share-list__copy-link {
  display: contents;
}
@media (max-width: 639px) {
  .gc-share-list {
    flex-direction: column;
    align-items: stretch;
    min-width: 175px;
  }
  .gc-share-list__option {
    justify-content: space-evenly;
  }
  .gc-share-list__separator {
    width: calc(100% + 4px);
    height: 1px;
    margin: 8px -2px;
  }
}
.gc-share-list__options-container {
  display: flex;
  width: 100%;
}