.gc-simple-consent {
  font-family: var(--g-text-body-font-family);
  font-weight: var(--g-text-body-font-weight);
  font-size: var(--g-text-body-2-font-size);
  line-height: var(--g-text-body-2-line-height);
  position: fixed;
  inset-block-end: 24px;
  inset-inline-start: 0;
  max-width: calc(1232px + var(--g-spacing-10) * 2);
  padding: 24px 32px;
  margin: 0 var(--g-spacing-10);
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--g-color-base-float);
  border-radius: var(--g-border-radius-xl);
}
.gc-simple-consent__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gc-simple-consent__buttons {
  display: flex;
}
.gc-simple-consent__button {
  margin-inline-start: var(--g-spacing-4);
}
@media (max-width: 769px) {
  .gc-simple-consent__buttons {
    margin-block-start: 24px;
    width: 100%;
  }
  .gc-simple-consent__container {
    flex-direction: column;
  }
  .gc-simple-consent__button {
    flex: 1 1 0;
  }
  .gc-simple-consent__button:first-child {
    margin-inline-start: 0;
  }
}