.gc-stories {
  --g-modal-border-radius: $borderRadius;
  --g-modal-margin: var(--g-spacing-5);
}
.gc-stories .g-modal__content-wrapper {
  overflow-x: initial;
}
.gc-stories__modal-content {
  border-radius: 20px;
}