.gc-stories-group {
  --g-modal-border-radius: 20px;
  --g-modal-margin: 20px;
}
.gc-stories-group .g-modal__content-wrapper {
  overflow-x: initial;
}
.gc-stories-group__modal-content {
  background-color: inherit;
  border-radius: 20px;
}