.gc-stories-group-preview {
  user-select: none;
  padding-block-end: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.gc-stories-group-preview__slider-preview-list-wrapper {
  display: flex;
  gap: 8px;
}
.gc-stories-group-preview__stories-preview-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--g-color-base-background);
}
.gc-stories-group-preview__stories-preview-item::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: var(--g-color-sfx-shadow);
  width: 40px;
  height: 40px;
}
.gc-stories-group-preview__stories-preview-item_active::after, .gc-stories-group-preview__stories-preview-item:hover:not(.gc-stories-group-preview__stories-preview-item_disabled)::after {
  display: none;
}
.gc-stories-group-preview__stories-preview-item_active {
  border: 2px solid var(--g-color-line-brand);
}
.gc-stories-group-preview__slider-button-wrapper {
  width: 28px;
  height: 28px;
}