.g-root {
  --yfm-color-text-gray: var(--g-color-text-secondary);
  --yfm-color-text-yellow: var(--g-color-private-yellow-600-solid);
  --yfm-color-text-orange: var(--g-color-private-orange-500-solid);
  --yfm-color-text-red: var(--g-color-text-danger);
  --yfm-color-text-green: var(--g-color-text-positive);
  --yfm-color-text-blue: var(--g-color-text-info);
  --yfm-color-text-violet: var(--g-color-text-utility);
}

.g-root {
  --yfm-colorify-black: var(--g-color-text-primary);
  --yfm-colorify-gray: var(--yfm-color-text-gray);
  --yfm-colorify-yellow: var(--yfm-color-text-yellow);
  --yfm-colorify-orange: var(--yfm-color-text-orange);
  --yfm-colorify-red: var(--yfm-color-text-red);
  --yfm-colorify-green: var(--yfm-color-text-green);
  --yfm-colorify-blue: var(--yfm-color-text-blue);
  --yfm-colorify-violet: var(--yfm-color-text-violet);
}